.glassmorphic-list-container {
  margin-bottom: 20px;
}

.glassmorphic-list {
  display: block;
  list-style: none;
  padding: 16px;
  margin: 0 0 10px 0;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: var(--text-color);
}

.list-item {
  position: relative;
  padding-left: 24px;
  margin-bottom: 8px;
  font-family: var(--font-family-body);
  line-height: 1.5rem;
}

.list-symbol {
  position: absolute;
  left: 0;
  top: 6px;
}

.circle-symbol {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.number-symbol {
  color: var(--accent-color);
  font-weight: 500;
  top: 0;
}
