.para {
  color: var(--text-color);
  font-family: var(--font-family-body);
  font-size: 1.1rem;
  margin-bottom: 15px;
  line-height: 1.8rem;
  text-align: justify;
}

.para.tabbed {
  text-indent: 2em; /* Apply space to the first line only */
}

/* @media (max-width: 768px) {
  .para {
    font-size: 1rem;
    line-height: 1.7rem;
  }
}
@media (max-width: 480px) {
  .para {
    font-size: 0.9rem;
    line-height: 1.6rem;
  }
}
@media (max-width: 360px) {
  .para {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
} */
