.author-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 90%;
  max-width: 440px;
  color: #fff;
  text-align: center;
  padding: 50px 35px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

.profile {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.card h2 {
  font-size: 1.7rem;
  font-weight: 600;
  margin-top: 20px;
}
.card p {
  font-size: 1rem;
  margin: 10px auto;
  max-width: 330px;
  color: var(--accent-color);
}
.card .links img {
  border-radius: 50%;
  margin: 10px 5px;
  transition: background 0.5s;
}

.btn {
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  background: #fff;
  color: var(--accent-color);
  padding: 10px 30px;
  border-radius: 30px;
  margin: 30px 0 10px;
}

.sci {
  margin-top: 20px;
  position: relative;
  flex-direction: row;
  left: 0;
}
.sci li a {
  margin: 0 10px;
}
