.section {
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  height: 100%;
  display: flex;
}

.content-topic {
  position: fixed;
  width: 25%;
  max-width: 300px;
  top: 70px;
  height: 100vh;
  padding: 10px 20px 150px 20px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  overflow-y: scroll;
}

.content-topic::-webkit-scrollbar {
  width: 10px;
}

.content-topic::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.content-topic::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}

.content-topic::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.7);
}

.content-topic h1 {
  color: var(--accent-dark);
  font-weight: 400;
}
.content-topic ul li {
  list-style-type: none;
  /* margin-top: 10px; */
}

.content-topic ul li a {
  text-decoration: none;
  display: block;
  color: var(--accent-color);
  font-weight: 500;
  border-radius: 25px;
  padding: 8px 15px;
  transition: background 0.3s, box-shadow 0.3s;
}
.content-topic ul li a.active {
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.content-topic ul li a:hover {
  background: rgba(255, 255, 255, 0.5);
}
.content-main {
  flex: 1;
  padding: 2rem 2rem 10rem calc(300px + 2rem);
}
