.section {
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  height: 100%;
  display: flex;
}

.content-topic {
  position: fixed;
  /* width: 25%; */
  width: 300px;
  top: 70px;
  height: 100vh;
  padding: 10px 20px 150px 20px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  overflow-y: scroll;
  transition: all 0.5s;
}

.content-topic::-webkit-scrollbar {
  width: 10px;
}

.content-topic::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.content-topic::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}

.content-topic::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.7);
}

.content-topic-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.content-topic-header h1 {
  color: var(--topic-color);
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
.content-topic-header span {
  display: none;
  cursor: pointer;
  fill: var(--accent-color);
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  transition: background 0.3s;
  font-size: 0;
  padding: 3px;
}
.content-topic ul li {
  list-style-type: none;
  margin-top: 5px;
}

.content-topic ul li a {
  text-decoration: none;
  display: block;
  color: var(--accent-color);
  font-weight: 500;
  border-radius: 25px;
  padding: 8px 15px;
  transition: background 0.3s, box-shadow 0.3s;
}
.content-topic ul li a.active {
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.content-topic ul li a:hover {
  background: rgba(255, 255, 255, 0.5);
}
.content-main {
  flex: 1;
  width: 100%;
  padding: 2rem 2rem 10rem calc(300px + 2rem);
}

@media (max-width: 1200px) {
  .content-topic {
    top: 0;
    left: -300px;
    z-index: 1000;
  }
  .content-topic.active {
    left: 0;
  }
  .content-topic-header span {
    display: block;
  }
  .content-main {
    padding: 2rem 2rem 10rem 2rem;
  }
}
