.section {
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  display: flex;
  /* height: 100vh; */
}

.content-topic {
  position: absolute;
  /* top: 70px;
  left: 0;
  bottom: 1px; */
  top: 0;
  bottom: 0;
  width: 300px;

  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.content-topic::-webkit-scrollbar {
  width: 10px;
}

.content-topic::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.content-topic::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}

.content-topic::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.7);
}

.content-main {
  flex: 1;
}
