.section {
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  height: 100%;
  display: flex;
}

.content-topic {
  position: sticky;
  width: 25%;
  max-width: 300px;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  flex: 1;
  padding: 10px;
  padding-top: 70px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  overflow-y: scroll;
}

.content-topic::-webkit-scrollbar {
  width: 10px;
}

.content-topic::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.content-topic::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}

.content-topic::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.7);
}

.content-topic ul li {
  list-style-type: none;
}

.content-topic ul li a {
  text-decoration: none;
}

.content-main {
  flex: 1;
  padding: 1rem;
}
